<div class="hero-unit">
	<h1>Welcome to my One Month Rails App</h1>
	<p>You can find the class 
		<%= link_to "here" , "http://onemonthrails.com" %>
	</p>

	<p><%= link_to "Sign Up Now" , "http://onemonthrails.com", class: "btn btn-primary btn-large" %></p>
</div>